.nemp-themeLight-appBar-button-svg {
    fill: #404040;
}

.nemp-themeDark-appBar-button-svg {
    fill: white;
}

.themeLight-click-in-button {
    fill: #1b6cff;
}

.themeDark-click-in-button {
    fill: #0099ff;
}

.ab7b2874-85ed-48a5-9809-9cfc40b83638 {
    fill: none;
}

.a20f76ac-acc7-4b3c-aa9a-f8b18c8d27e6 {
    fill: #404040;
}

.f3b85c12-d191-4f32-a954-0960945a4d24 {
    isolation: isolate;
}

.a882ee9f-90cd-4038-982f-363cafdc19f3 {
    clip-path: url(#a860cd1e-cba6-4159-916c-d4658f1f2f29);
}